Pub/Connected Services/ServiceReference1/PubSubService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PubSubApp" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PubSubApp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LotteryNumbers">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LotteryNumbers" nillable="true" type="tns:LotteryNumbers" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number1" type="xs:int" />
      <xs:element minOccurs="0" name="Number2" type="xs:int" />
      <xs:element minOccurs="0" name="PlayerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Stake" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
  <xs:complexType name="Summary">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTurnEarnings" type="xs:double" />
      <xs:element minOccurs="0" name="HitCount" type="xs:int" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="tns:Player" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summary" nillable="true" type="tns:Summary" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="CumulativeStake" type="xs:double" />
      <xs:element minOccurs="0" name="Earnings" type="xs:double" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
</xs:schema>