Pub/Connected Services/ServiceReference1/PubSubService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58005/PubSubService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PubSubApp" />
  <xs:element name="DrawLotteryNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PubSubApp" minOccurs="0" name="numbers" nillable="true" type="q1:LotteryNumbers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitPlayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PubSubApp" minOccurs="0" name="ticket" nillable="true" type="q2:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubmitTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SummaryArrived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PubSubApp" minOccurs="0" name="message" nillable="true" type="q3:Summary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>